@charset "UTF-8";
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

:root {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.25rem;
  color: rgb(41, 46, 54);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0.3em;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.8rem;
}

ul, li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  all: unset;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  text-align: center;
  font-size: 1.35rem;
  line-height: 1.4;
  border: none;
  cursor: pointer;
  padding: 0.5em 0;
  width: calc(230px + 2vw);
  background-color: transparent;
  transition: all 150ms ease-in-out;
}
.btn--border {
  color: rgb(225, 177, 104);
  border: 3px solid rgb(225, 177, 104);
}
.btn--color {
  color: rgb(0, 0, 0);
  background-color: rgb(225, 177, 104);
}
.btn--submit {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
}
.btn--border:hover, .btn--color:hover, .btn--submit:hover {
  color: rgb(255, 255, 255);
  background-color: #d3902a;
}
.btn--border:hover {
  border-color: #d3902a;
}

.section-heading {
  margin-bottom: 2em;
}
.section-heading__title {
  display: inline-block;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-block: 2px solid rgb(225, 177, 104);
  padding-block: 0.5em 0.2em;
  margin-bottom: 1em;
}
.section-heading > p {
  line-height: 1.3;
}

.arrow-up {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  opacity: 0.5;
  background-color: rgb(220, 220, 220);
  padding: 0.2em;
  border-radius: 50%;
}
.arrow-up:hover {
  opacity: 0.9;
}

/**
 * ItcSlider
 * @version 1.0.1
 * @author https://github.com/itchief
 * @copyright Alexander Maltsev 2020 - 2023
 * @license MIT (https://github.com/itchief/ui-components/blob/master/LICENSE)
 * @tutorial https://itchief.ru/javascript/slider
 */
@media screen and (max-width: 1199px) {
  .itc-slider {
    position: relative;
  }
  .itc-slider-wrapper {
    overflow: hidden;
    margin: 0 3em;
  }
  .itc-slider-items {
    display: flex;
    transition: transform 500ms ease;
    will-change: transform;
  }
  .itc-slider-transition-none {
    transition: none;
  }
  .itc-slider-item {
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    will-change: transform;
  }
  /* кнопки влево и вправо */
  .itc-slider-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    background: rgba(52, 57, 66, 0.85);
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .itc-slider-btn-prev {
    left: 0;
  }
  .itc-slider-btn-next {
    right: 0;
  }
  .itc-slider-btn:hover,
  .itc-slider-btn:focus {
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
    outline: 0;
  }
  .itc-slider-btn::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .itc-slider-btn-prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .itc-slider-btn-next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
}
@media (min-width: 1200px) {
  .itc-slider-btn {
    display: none;
  }
  .itc-slider-item {
    transform: translate3d(0, 0, 0) !important;
  }
}
.header {
  text-align: center;
}
.header-bg {
  background-color: rgb(41, 46, 54);
}
.header__nav {
  border-bottom: 1px solid rgb(133, 133, 133);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(133, 133, 133);
  padding-block: 2em;
}
.info > * {
  margin-bottom: 1em;
}
.info__logo {
  order: -1;
  margin-bottom: 2em;
}
@media screen and (min-width: 900px) {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .info > * {
    margin: 0;
  }
  .info__logo {
    order: 0;
    flex-basis: 30%;
  }
}

@media screen and (max-width: 599px) {
  .hamburger-menu-toggle {
    position: absolute;
    left: 1em;
    top: 1em;
    cursor: pointer;
    border-radius: 5px;
    padding: 1em;
    background-color: transparent;
    z-index: 10;
    background-image: url(./../assets/icons/hamburger-menu-open.svg);
    border: 1px solid rgb(225, 177, 104);
  }
  .toggle--close {
    background-image: url(./../assets/icons/hamburger-menu-close.svg);
    border-color: rgb(255, 255, 255);
  }
  .nav {
    display: none;
    color: rgb(255, 255, 255);
  }
  .nav__list {
    margin-bottom: 1em;
  }
  .nav__list > * + * {
    margin-top: 0.5em;
  }
  .nav__link {
    padding: 0.5em;
    transition: all ease-out 250ms;
  }
  .nav__link:hover {
    color: rgb(225, 177, 104);
    padding-bottom: 0;
    border-bottom: 1px solid rgb(225, 177, 104);
  }
  .nav__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-block: 0.5em;
  }
  .nav__social-link {
    padding: 0.5em;
  }
  .nav--open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    background-color: rgb(41, 46, 54);
    text-align: center;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (min-width: 600px) {
  .hamburger-menu-toggle {
    display: none;
  }
  .nav {
    color: rgb(255, 255, 255);
    margin-bottom: 1em;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav__link {
    padding-block: 1em;
  }
  .nav__link:hover {
    color: rgb(225, 177, 104);
  }
  .nav__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__social-list > * + * {
    margin-left: 1em;
  }
  .nav__social-link {
    vertical-align: middle;
  }
}
@media screen and (min-width: 900px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  .nav__list {
    flex-basis: 70%;
  }
}
.hero {
  text-align: center;
  color: rgb(255, 255, 255);
  padding-block: 3em;
}
.hero-bg {
  background-color: rgb(41, 46, 54);
}
.hero__text {
  margin-bottom: 2em;
}
.hero__text > p {
  margin-bottom: 2em;
}
.hero__title {
  font-size: calc(3.5rem + 1vw);
}
@media screen and (min-width: 600px) {
  .hero__img {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }
  .hero > * {
    margin: 0;
  }
  .hero__text {
    flex-basis: 50%;
  }
  .hero__img {
    flex-basis: 40%;
  }
}

.information {
  display: grid;
  gap: 1em;
  padding-top: 3em;
}
.information-bg {
  background-color: rgb(244, 221, 211);
}
.information__icon {
  display: flex;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-color: rgb(41, 46, 54);
  margin: 0 auto 1em;
}
.information__icon > img {
  margin: auto;
}
.information__block {
  text-align: center;
}
.information__block > span {
  font-weight: 300;
}
@media screen and (min-width: 600px) {
  .information__block {
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .information__icon {
    margin: 0;
    flex-shrink: 0;
  }
  .information__text {
    margin-left: 1em;
  }
}
@media screen and (min-width: 900px) {
  .information {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .information__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .information__icon {
    margin-bottom: 1em;
  }
  .information__text {
    margin: 0;
  }
}

.storytelling {
  padding-block: 3em;
}
.storytelling-bg {
  background-color: rgb(244, 221, 211);
}
.storytelling__img {
  margin-bottom: 1em;
}
.storytelling__img > img {
  width: 100%;
}
.storytelling__text > p {
  margin-bottom: 1em;
}
.storytelling__block {
  margin-bottom: 1em;
}
.storytelling__block > span {
  display: block;
  color: rgb(0, 0, 0);
}
.storytelling__autograph > img {
  margin-left: auto;
}
@media screen and (min-width: 600px) {
  .storytelling__block {
    -moz-columns: 300px 2;
         columns: 300px 2;
  }
}
@media screen and (min-width: 900px) {
  .storytelling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
  }
}

.menu {
  padding-block: 3em;
}
.menu__card {
  max-width: 490px;
}
.menu__img {
  margin-bottom: 2em;
}
.menu__gallery {
  margin-top: 3em;
}
.menu__gallery > * + * {
  margin-top: 2em;
}
.menu__category {
  text-align: center;
}
.menu__category > * + * {
  margin-top: 1.5em;
}
@media screen and (min-width: 900px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .menu__category {
    text-align: start;
  }
  .menu__card {
    flex-basis: 40%;
  }
  .menu__gallery {
    flex-basis: 55%;
  }
}

.item {
  text-align: center;
  line-height: 1.1;
}
.item__img {
  max-width: 84px;
  margin: 0 auto;
}
.item__title > h4 {
  color: rgb(0, 0, 0);
  border-bottom: 2px dotted rgb(133, 133, 133);
}
.item__title > p {
  color: rgb(52, 57, 66);
}
.item__price {
  font-family: "Cormorant Infant", serif;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 600px) {
  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
  }
  .item__img {
    margin-bottom: 0;
  }
  .item__title {
    position: relative;
    flex-basis: 100%;
    padding-right: 2em;
    margin-left: 1em;
  }
  .item__title > h4 {
    border-bottom: none;
  }
  .item__title > p {
    border-bottom: 2px dotted rgb(133, 133, 133);
  }
  .item__price {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.testimonial {
  color: rgb(255, 255, 255);
  font-weight: 300;
  padding-top: 3em;
}
.testimonial-bg {
  background-color: rgb(41, 46, 54);
}
.testimonial__card {
  padding: 1em;
  background-color: rgba(52, 57, 66, 0.85);
  margin-bottom: 2em;
}
.testimonial__img {
  content: "";
  background-image: url(./../assets/images/testimonial-img.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: calc(300px + 10vw);
}
@media screen and (min-width: 1200px) {
  .testimonial__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
  }
}

.autor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(133, 133, 133);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.autor__photo {
  position: relative;
  margin-right: 1em;
  flex-shrink: 0;
}
.autor__photo::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(./../assets/icons/quotes.png);
}
.autor__name > span {
  color: rgb(225, 177, 104);
  line-height: 1.1;
}

.offers {
  padding-block: 3em;
}
.offers__block {
  color: rgb(255, 255, 255);
}
.offers__deal {
  background-color: rgb(45, 159, 159);
  padding: 2em;
  margin-bottom: 1em;
}
.offers__price {
  color: rgb(41, 46, 54);
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.9;
  text-align: end;
  width: 5em;
  height: 3em;
  border-radius: 50%;
  border: 2px solid rgb(225, 177, 104);
  background-color: rgb(255, 255, 255);
  padding-right: 1em;
  margin-bottom: 2em;
}
.offers__price > span {
  display: block;
}
.offers__price > span:nth-of-type(1) {
  font-size: 0.7em;
}
.offers__price > span:nth-of-type(2) {
  font-size: 2em;
}
.offers__text > .section-heading__title {
  border-color: inherit;
}
.offers__img {
  max-width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .offers__deal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .offers__text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  .offers__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2em;
    align-content: flex-start;
  }
  .offers__deal {
    margin-bottom: 0;
  }
}

.gallery {
  padding-bottom: 3em;
}
.gallery__block {
  display: grid;
  gap: 1em;
  margin: 0 auto 2em;
}
.gallery__heading {
  text-align: center;
  max-width: 760px;
  margin: 0 auto 2em;
}
.gallery__img {
  margin-bottom: 0.5em;
}
.gallery__img > img {
  width: 100%;
}
.gallery__title {
  position: relative;
  color: rgb(0, 0, 0);
  padding-right: 2em;
  border-bottom: 1px solid rgb(133, 133, 133);
}
.gallery__title > span {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
}
.gallery__text > P {
  color: rgb(52, 57, 66);
}
.gallery__btn {
  text-align: center;
}
@media screen and (min-width: 600px) {
  .gallery__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
  }
  .gallery__img {
    flex-basis: 35%;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .gallery__text {
    flex-grow: 1;
  }
}
@media screen and (min-width: 900px) {
  .gallery__block {
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto 2em;
  }
  .gallery__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__block {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
  }
}

.advantages {
  color: rgb(255, 255, 255);
  padding-block: 3em;
}
.advantages-bg {
  background-color: rgb(41, 46, 54);
}
.advantages__card {
  max-width: 450px;
  text-align: center;
  padding: 2em;
  border: 20px solid rgb(52, 57, 66);
  margin: 0 auto 1em;
}
.advantages__card > img {
  margin: 0 auto 0.5em;
}
@media screen and (min-width: 900px) {
  .advantages__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
  }
  .advantages__card {
    margin: 0;
    flex-basis: 30%;
  }
  .advantages__card > span {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .advantages__heading {
    max-width: 440px;
    flex-basis: 40%;
  }
  .advantages__block {
    flex-basis: 60%;
  }
}

.blog {
  padding-block: 3em;
}
.blog__preview {
  border: 1px solid rgb(133, 133, 133);
  margin-bottom: 1em;
}
.blog__text {
  padding: 1em;
}
.blog__text > span + span {
  margin-left: 1em;
}
.blog__btn {
  position: relative;
  margin-bottom: 1em;
}
.blog__btn::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 57, 66, 0.6);
}
.blog__btn > img {
  width: 100%;
}
.blog__btn > button {
  position: absolute;
  top: calc(50% - 25px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
@media screen and (min-width: 900px) {
  .blog__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
  }
  .blog__preview {
    margin-bottom: 0;
  }
}

.reservation {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(52, 57, 66, 0.85);
  padding: 5em 3em;
  margin: 0 auto;
}
.reservation-bg {
  background-image: url(./../assets/images/reservation-bg-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5em;
}
@media screen and (min-width: 600px) {
  .reservation {
    max-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .reservation {
    max-width: 900px;
  }
}

.form {
  display: grid;
  row-gap: 1em;
  margin: 0 auto;
}
.form > input {
  width: 90%;
  text-align: left;
  border: 1px solid rgb(133, 133, 133);
  padding: 0.5em;
  margin: 0 auto;
}
.form > input[type=submit] {
  text-align: center;
  border: none;
}
@media screen and (min-width: 900px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "legend legend" "name email" "persons date" "btn btn";
  }
  .form > legend {
    grid-area: legend;
    margin-bottom: 1em;
  }
  .form > input[type=text] {
    grid-area: name;
  }
  .form > input[type=email] {
    grid-area: email;
  }
  .form > input[type=number] {
    grid-area: persons;
  }
  .form > input[type=date] {
    grid-area: date;
  }
  .form > input[type=submit] {
    grid-area: btn;
    max-width: 300px;
  }
}

.subscribe {
  max-width: 660px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-block: 3em;
}
.subscribe-bg {
  background-color: rgb(41, 46, 54);
}
.subscribe__logo {
  margin: 0 auto;
  margin-bottom: 2em;
}
.subscribe__text {
  margin-bottom: 1em;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.subscribe__email {
  width: 100%;
  text-align: left;
  color: inherit;
  border: 1px solid rgb(133, 133, 133);
  padding: 0.5em;
  margin-bottom: 1em;
}
.subscribe__btn {
  border: 1px solid rgb(255, 255, 255);
}
.subscribe__btn:hover {
  border-color: #d3902a;
}
@media screen and (min-width: 900px) {
  .subscribe__form {
    flex-direction: row;
  }
  .subscribe__email {
    flex: 1 0 60%;
    border-right: none;
    margin-bottom: 0;
  }
}

.footer {
  color: rgb(255, 255, 255);
  padding-block: 3em;
}
.footer-bg {
  background-color: rgb(41, 46, 54);
}
.footer--color-text {
  color: rgb(225, 177, 104);
}
.footer__links {
  margin-block: 2em;
}
.footer__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__links {
    margin-block: 0;
    flex-basis: 30%;
  }
  .footer__worktime {
    text-align: end;
  }
}