$ff-text: 'Josefin Sans', sans-serif;
$ff-title: 'Cormorant Infant', serif;

$fs-text: 1.25rem;
$fs-btn: 1.35rem;
$fs-h1: 3.5rem;
$fs-h2: 2.5rem;
$fs-h3: 2.25rem;
$fs-h4: 1.8rem;

$fw-normal: 400;
$fw-bold: 600;
$fw-light: 300;
