.blog {
    padding-block: 3em;

    &__preview {
        margin-bottom: 1em;
    }

    &__btn {
        position: relative;

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(52, 57, 66, 0.6);
        }

        &>img {
            width: 100%;
        }

        &>button {
            position: absolute;
            top: calc(50% - 25px);
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }
    }

    &__text {
        border: $border;
        border-top: none;
        padding: 1.5em;
        margin-bottom: 0;
        

        &>span+span {
            margin-left: 1em;
        }
    }

    @include break($breakpoint-tablet-landscape) {

        &__block {
            @include flex(row, space-between, stretch);
            gap: 1em;
        }
    }
}
