.footer {
    color: $clr-white;
    padding-block: 3em;

    &-bg {
        background-color: $clr-secondary;
    }

    &--color-text {
        color: $clr-primary;
    }

    &__links {
        margin-block: 2em;

        &-list {
            @include flex(row, space-around);
        }
    }

    @include break($breakpoint-tablet-landscape) {
        & {
            @include flex(row, space-between, flex-start);
        }

        &__links {
            margin-block: 0;
            flex-basis: 30%;
            
        }

        &__worktime {
            text-align: end;
        }
    }
}