.header {
    text-align: center;
    padding-block: 2em;

    &-bg {
        background-color: $clr-secondary;
        border-bottom: $border-color;
    }

    &__nav {
        display: none;
    }
}

.info {
    @include flex(column);

    &>* {
        margin-bottom: 1em;
    }

    &__logo {
        order: -1;
        margin-bottom: 2em;
    }

    @include break($breakpoint-tablet-landscape) {
        & {
            @include flex(row);
        }

        &>* {
            margin: 0;
        }

        &__logo {
            order: 0;
            flex-basis: 30%;
        }
    }
}