.information {
    display: grid;
    gap: 1em;
    padding-top: 3em;

    &-bg {
        background-color: $clr-pink-light;
    }

    &__icon {
        display: flex;
        width: 83px;
        height: 83px;
        border-radius: 50%;
        background-color: $clr-secondary;
        margin: 0 auto 1em;

        &>img {
            margin: auto;
        }
    }

    &__block {
        text-align: center;

        &>span {
            font-weight: $fw-light;
        }
    }

    @include break($breakpoint-tablet-portrait) {
        &__block {
            text-align: start;
            @include flex(row, start);
        }

        &__icon {
            margin: 0;
            flex-shrink: 0;
        }

        &__text {
            margin-left: 1em;
        }
    }

    @include break($breakpoint-tablet-landscape) {
        & {
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
        }

        &__block {
            @include flex(column, flex-start);
            text-align: center;
        }

        &__icon {
            margin-bottom: 1em;
        }

        &__text {
            margin: 0;
        }
    }
}