.menu {
    padding-block: 3em;

    &__card {
        max-width: 490px;
    }

    &__img {
        margin-bottom: 2em;
    }

    &__gallery {
        margin-top: 3em;

        &>*+* {
            margin-top: 2em;
        }
    }

    &__category {
        text-align: center;

        &>*+* {
            margin-top: 1.5em;
        }
    }

    @include break($breakpoint-tablet-landscape) {
        @include flex(row, space-between, flex-start);

        &__category {
            text-align: start;
        }

        &__card {
            flex-basis: 40%;
        }

        &__gallery {
            flex-basis: 55%;
        }
    }
}

.item {
    text-align: center;
    line-height: 1.1;

    &__img {
        max-width: 84px;
        margin: 0 auto;
    }

    &__title>h4 {
        color: $clr-black;
        border-bottom: 2px dotted $clr-border;
    }

    &__title>p {
        color: $clr-gray-dark;
    }

    &__price {
        font-family: $ff-title;
        font-size: 1.2em;
        color: $clr-black;
    }

    @include break($breakpoint-tablet-portrait) {
        @include flex(row, flex-start);
        text-align: start;

        &__img {
            margin-bottom: 0;
        }

        &__title {
            position: relative;
            flex-basis: 100%;
            padding-right: 2em;
            margin-left: 1em;

            & > h4 {
                border-bottom: none;
            }

            &>p {
                border-bottom: 2px dotted $clr-border;
            }
        }

        &__price {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}