.menu {
    padding-block: 3em;

    &__card {
        max-width: 490px;
    }

    &__img {
        margin-bottom: 2em;
    }

    &__gallery {
        margin-top: 3em;

        & >*+* {
            margin-top: 2em;
        }
    }

    &__category > *+* {
        margin-top: 1em;
    }

    @include break($breakpoint-tablet-landscape) {
        @include flex(row, space-between, flex-start);

        &__card {
            flex-basis: 40%;
        }

        &__gallery {
            flex-basis: 55%;
        }
    }
}

.item {
    line-height: 1.1;

    &__img {
        max-width: 84px;
        margin-bottom: 0.5em;
    }

    &__title > p {
        color: $clr-gray-dark;
    }

    &__price {
        font-family: $ff-title;
        font-weight: $fw-bold;
        font-size: 1.2em;
        color: $clr-gray-darker
    }

    @include break($breakpoint-tablet-portrait) {
        @include flex(row, flex-start);

        &__img {
            margin-bottom: 0;
        }

        &__title {
            position: relative;
            flex-basis: 100%;
            padding-right: 2em;
            margin-left: 1em;

            &>p {
                border-bottom: 2px dotted $clr-gray-darker;
            }
        }

        &__price {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}