.reservation {
    text-align: center;
    color: $clr-white;
    background-color: $clr-bg-opacity;
    padding: 3em;
    margin: 0 auto;

    &-bg {
        background-image: url(./../assets/images/reservation-bg-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-block: 5em;
    }

    @include break($breakpoint-tablet-portrait) {
        max-width: 600px;
    }

    @include break($breakpoint-tablet-landscape) {
        max-width: 900px;
    }
}

.form {
    display: grid;
    row-gap: 1em;
    margin: 0 auto;

    &>input {
        width: 90%;
        text-align: left;
        border: $clr-border;
        padding: 0.5em;
        margin: 0 auto;
    }

    &>input[type="submit"] {
        text-align: center;
    }

    @include break($breakpoint-tablet-landscape) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "legend legend"
            "name email"
            "persons date"
            "btn btn";

        &>legend {
            grid-area: legend;
            margin-bottom: 1em;
        }

        &>input[type="text"] {
            grid-area: name;
        }

        &>input[type="email"] {
            grid-area: email;
        }

        &>input[type="number"] {
            grid-area: persons;
        }

        &>input[type="date"] {
            grid-area: date;
        }

        &>input[type="submit"] {
            grid-area: btn;
            max-width: 300px;
        }
    }
}