.storytelling {
    padding-block: 3em;

    &-bg {
        background-color: $clr-pink-light;
    }

    &__img {
        margin-bottom: 1em;
    }

    &__img > img {
        width: 100%;
    }

    &__text {

        &>p {
            margin-bottom: 1em;
        }
    }

    &__block {
        margin-bottom: 1em;

        &>span {
            display: block;
            color: $clr-black;
        }
    }

    &__autograph > img {
        margin-left: auto;
    }

    @include break($breakpoint-tablet-portrait) {
        &__block {
            columns: 300px 2;
        }
    }

    @include break($breakpoint-tablet-landscape) {
        & {
            @include flex(row, space-between, start);
            gap: 2em;
        }
    }
}