.subscribe {
    max-width: 660px;
    text-align: center;
    color: $clr-white;
    padding-block: 3em;

    &-bg {
        background-color: $clr-secondary;
    }

    &__logo {
        margin: 0 auto;
        margin-bottom: 2em;
    }

    &__text {
        margin-bottom: 1em;
    }

    &__form {
        @include flex(column);
        width: 70%;
        margin: 0 auto;
    }

    &__form>input[type="email"] {
        width: 80%;
        text-align: left;
        color: inherit;
        border: $clr-border;
        padding: 0.5em;
        margin-bottom: 1em;
    }

    @include break($breakpoint-tablet-landscape) {
        &__form {
            flex-direction: row;
        }

        &__form>input[type="email"] {
            flex: 1 0 70%;
            margin-bottom: 0;
        }
    }
}