.subscribe {
    max-width: 660px;
    text-align: center;
    color: $clr-white;
    padding-block: 3em;

    &-bg {
        background-color: $clr-secondary;
    }

    &__logo {
        margin: 0 auto;
        margin-bottom: 2em;
    }

    &__text {
        margin-bottom: 1em;
    }

    &__form {
        @include flex(column);
        width: 70%;
        margin: 0 auto;
    }

    &__email {
        width: 100%;
        text-align: left;
        color: inherit;
        border: $border;
        padding: 0.5em;
        margin-bottom: 1em;
    }

    &__btn {
        border: 1px solid $clr-white;

        &:hover {
            border-color: darken($clr-primary, 15%);
        }
    }

    @include break($breakpoint-tablet-landscape) {
        &__form {
            flex-direction: row;
        }

        &__email {
            flex: 1 0 60%;
            border-right: none;
            margin-bottom: 0;
        }
    }
}