.testimonial {
    color: $clr-white;
    font-weight: $fw-light;
    padding-top: 3em;

    &>h3,
    h4 {
        color: inherit;
    }

    &__heading>h2 {
        color: inherit;
    }

    &-bg {
        background-color: $clr-secondary;
    }


    &__card {
        padding: 1em;
        background-color: rgba(52, 57, 66, 0.9);
        margin-bottom: 1em;
    }

    &__img {
        background-image: url(./../assets/images/testimonial-img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        height: calc(300px + 10vw);
    }
}

.autor {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $clr-gray-dark;
    margin-bottom: 2em;

    &__photo {
        position: relative;
        margin-right: 1em;
        flex-shrink: 0;

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-image: url(./../assets/icons/quotes.png);
        }
    }

    &__name > span {
        color: $clr-primary;
        display: inline-block;
        line-height: 1.1;
        
    }
}

@media (min-width: 750px) {
    
    .testimonial {

        &-bg {
            position: relative;
        }

        &__block {
            position: absolute;
            bottom: 1em;
            display: flex;
            gap: 1em;
            overflow: hidden;
        }

        &__card {
            width: 500px;
            flex-shrink: 0;
        }
    }
}

@media (min-width: 1000px) {
    
    .testimonial {

        &-bg {
            position: static;
        }

        &__block {
            position: static;
            justify-content: space-between;
            margin-bottom: 1em;
        }

        &__card {
            flex-basis: 32%;
        }
    }
}