.testimonial {
    color: $clr-white;
    font-weight: $fw-light;
    padding-top: 3em;

    &-bg {
        background-color: $clr-secondary;
    }

    &__card {
        padding: 1em;
        background-color: $clr-bg-opacity;
        margin-bottom: 2em;
    }

    &__img {
        content: "";
        background-image: url(./../assets/images/testimonial-img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        height: calc(300px + 10vw);
    }

    @include break($breakpoint-tablet-portrait) {

        &__block {
            @include flex(row, space-between, stretch);
            flex-wrap: nowrap;
            position: absolute;
            overflow: hidden;
            margin-top: 1.5em;

            & > *+* {
                margin-left: 1em;
            }
        }
    
        &__card {
            flex-basis: 500px;
            flex-shrink: 0;
        }
    }
    
    @include break($breakpoint-desktop) {
        &__block {
            position: static
        }

        &__card {
            flex-basis: 31%;
        }
    }
}

.autor {
    @include flex(row, flex-start);
    border-bottom: $clr-border;
    padding-bottom: 1em;
    margin-bottom: 2em;

    &__photo {
        position: relative;
        margin-right: 1em;
        flex-shrink: 0;

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-image: url(./../assets/icons/quotes.png);
        }
    }

    &__name>span {
        color: $clr-primary;
        line-height: 1.1;
    }
}