.testimonial {
    display: none;
    color: $clr-white;
    font-weight: $fw-light;
    padding-top: 3em;

    &-bg {
        background-color: $clr-secondary;
    }

    &__card {
        padding: 1em;
        background-color: $clr-bg-opacity;
        margin-bottom: 2em;
    }

    &__img {
        content: "";
        background-image: url(./../assets/images/testimonial-img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        height: calc(300px + 10vw);
    }

    @media screen and (min-width: $breakpoint-desktop) {
        &__block {
            @include flex(row, space-between, stretch);
            gap: 1em;
        }
    }
}

.autor {
    @include flex(row, flex-start);
    border-bottom: $border;
    padding-bottom: 1em;
    margin-bottom: 1em;

    &__photo {
        position: relative;
        margin-right: 1em;
        flex-shrink: 0;

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-image: url(./../assets/icons/quotes.png);
        }
    }

    &__name>span {
        color: $clr-primary;
        line-height: 1.1;
    }
}